body {
    background-color: black;
}

h1 {
    color: blue;
    position: absolute;
    left: 45%;
    top: 10%;
     font-size: xx-large;
}

h2 {
    color: blue;
    position: absolute;
    left: 15%;
    top: 30%;
}

p1 {
    color: wheat;
    position: absolute;
    left: 7%;
    top: 40%;
}

h3 {
    color: blue;
    position: absolute;
    left: 15%;
    top: 60%;
    font-size: x-large;
}

h4 {
    color: blue;
}