input {
  margin: 0.4rem 0;
}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 1px #999999;
}

label {
  display: block;
  margin-bottom: 10px;
}

form {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
}

form input{
    display: block;
}