body{
 background-color: black;
 justify-items: center;
font-size: xx-large;
}

input {
  margin: 0.4rem 0;
  line-height:2rem;
  background-color: #000070;
}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

h1{
color: blue;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 1px #999999;
  background-color: #000070;
}

label {  
  display: block;
  margin-bottom: 10px;
}

form {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
}

form input{
    display: block; 
}

button {
  justify-items: center;
  background-color: #000070;
}