body {
    background-color: black;
}

h1 {
   left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 5%;
    color: blue;
    font-size: xx-large;
}

img{
    position: absolute;
    top: 50%;
    left: 7%;
}

p1 {
    color: wheat;
    position: absolute;
    top: 25%;
    left: 5%    ;
}

p2 {
    color: wheat;
    position: absolute;
    top: 30%;
    left: 5%;
}

p3 {
    color: wheat;
    position: absolute;
    top: 35%;
    left: 5%;
}

h2 {
    color: wheat;
    position: absolute;
    top: 180% ;
    left: 15%;
  
}

p4 {
    color: wheat;
    position: absolute;
    top: 200%;
    left: 5%;
}

p5 {
    color: wheat;
    position: absolute;
    top: 205%;
    left: 5%;
}

p6 {
    color: wheat;
    position: absolute;
    top: 210%;
    bottom: auto;
    left: 5%;
}

h3 {
    color: wheat;
    position: absolute;
    top: 230% ;
    left: 15%;
    font-size: x-large;
  
}

p7 {
    color: wheat;
    position: absolute;
    top: 245%;
    left: 5%;
}